In [ ]:
'''
Richest person in the world is the project 
'''
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O

In [ ]:
data=pd.read_csv("richest.csv",delimiter=';')
data

In [ ]:
print(data.info())
print(data.describe())

In [ ]:
data.head() #1st #5rows

In [ ]:
data.tail()#last 5rows

In [ ]:
s=data.drop(["Unnamed: 7","Unnamed: 8","Unnamed: 9","Unnamed: 10"],axis='columns',inplace=True)#remove or del col

In [ ]:
data

In [ ]:
data.head()

In [ ]:
data.isnull().sum()#check the null values

In [ ]:
data.dropna(axis=0,inplace=True)#remove null values
#inplace: If it is True, then it replaces in place.

In [ ]:
data.isnull().sum()

In [ ]:
data

In [ ]:
data['Country'].values

In [ ]:
data=data.replace('Canda','Canada',regex=True)
data.head()
data.dtypes
#regex: For pandas to interpret the replacement as regular expression replacement, set it to True

In [ ]:
data['Country'].values

In [ ]:
data

In [ ]:
data=data.replace(['\$'," "],"",regex=True)
data

In [ ]:
data["Total Net Worth"]=data["Total Net Worth"].replace("B","",regex=True)

In [ ]:
data

In [ ]:
data["Total Net Worth"]=pd.to_numeric(data["Total Net Worth"],errors="coerce")
data["Total Net Worth"].dtype

In [ ]:
data.head()

In [ ]:
def value_to_float(x):
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K','')) * 0.000001
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000
    if 'B' in x:
        if len(x) > 1:
            return float(x.replace('B', '')) * 100000
data['$ Last Change'] = data['$ Last Change'].apply(value_to_float)

In [ ]:
data.head()

In [ ]:
def value_to_float(x):
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K','')) * 0.000001
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000
    if 'B' in x:
        if len(x) > 1:
            return float(x.replace('B', '')) * 100000

data['$ YTD Change'] = data['$ YTD Change'].apply(value_to_float)

In [ ]:
data.head()

In [ ]:
data.dtypes

In [ ]:
display(data[data['Total Net Worth']>=50])

In [ ]:
display(data[data.Country=='India'])

In [ ]:
import matplotlib.pyplot as plt
from matplotlib import style
from matplotlib import figure
style.use('fivethirtyeight')

In [ ]:
india=data[data.Country=='India']

In [ ]:
plt.bar(india['Name'],india['Total Net Worth'])
plt.title('Indian Richies')
plt.ylabel('Billion $')
plt.gcf().set_size_inches(10, 5)
plt.xticks(rotation=90)
plt.show()

In [ ]:
#OF ALL Countries
plt.bar(data['Industry'],data['Total Net Worth'],color='#380282')
plt.title("Industry")
plt.xlabel("Total Net Worth")
plt.gcf().set_size_inches(30, 10)
plt.show()

In [ ]:
india['Industry']

In [ ]:
india

In [ ]:
#India Only
plt.barh(india['Industry'],india['Total Net Worth'],color='#15B01A')
plt.xlabel("Total Net worth")
plt.title("Industry")
plt.gcf().set_size_inches(15, 8)
plt.show()

In [ ]:
display(data["Country"].value_counts())

In [ ]:
#Percentage Of richies from top 10 countries
country=data["Country"].value_counts().head(10).values
name=data["Country"].value_counts().head(10).index
plt.gcf().set_size_inches(20, 11)
plt.pie(country,labels=name,autopct="%1.1f%%",wedgeprops={'edgecolor':'black'},explode=[0.1,0,0,0,0,0,0,0,0,0])
plt.title('Top 10')
plt.show()

In [ ]:
data[data.Country=='UnitedStates'].head(10)

In [ ]:
#Last Change In India
plt.bar(india['Name'],india['$ Last Change'],color=(india['$ Last Change']>0.0).map({True:'#DBB40C',False:'#A52A2A'}))
plt.xlabel("Indian Richies")
plt.ylabel("$ Last Change")
plt.gcf().set_size_inches(15, 8)
plt.xticks(rotation=90)
plt.show()